<section class="form max-w-157">
  <%= render partial: 'partials/form_head', locals: { heading: "`#{resource_name.to_s.humanize} の編集`" } %>
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>
    <div class="form-items">
      <div class="form-item">
        <%= f.label :email %>
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-input" %>
      </div>
      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <div>現在確認待ちのメールアドレス: <%= resource.unconfirmed_email %></div>
      <% end %>
      <div class="form-item">
        <%= f.label :password %> <i>(変更しない場合は空白のままにしてください)</i>
        <%= f.password_field :password, autocomplete: "new-password", class: "form-input" %>
        <% if @minimum_password_length %>
          <em><%= @minimum_password_length %> 文字以上必要です</em>
        <% end %>
      </div>
      <div class="form-item">
        <%= f.label :password_confirmation %>
        <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-input" %>
      </div>
      <div class="form-item">
        <%= f.label :current_password %> <i>(変更を確認するために現在のパスワードが必要です)</i>
        <%= f.password_field :current_password, autocomplete: "current-password", class: "form-input" %>
      </div>
    </div>
    <div class="mt-14">
      <%= f.submit "更新", class: "form-btn" %>
    </div>
  <% end %>
  <div class="mt-10">
    <h5>アカウントのキャンセル</h5>
    <div>不十分ですか？ <%= button_to "アカウントのキャンセル", registration_path(resource_name), data: { confirm: "本当によろしいですか？", turbo_confirm: "本当によろしいですか？" }, method: :delete %></div>
    <%= link_to "戻る", :back, class: "form-btn is-cancel" %>
  </div>
</section>
