<section class="form max-w-157">
  <%= render partial: 'partials/form_head', locals: { heading: "ロック解除手順の再送信" } %>
  <%= form_for(resource, as: resource_name, url: unlock_path(resource_name), html: { method: :post }) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>
    <div class="form-items">
      <div class="form-item">
        <%= f.label :email %>
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-input" %>
      </div>
    </div>
    <div class="mt-14">
      <%= f.submit "ロック解除手順の再送信", class: "form-btn" %>
    </div>
  <% end %>
  <%= render "devise/shared/links" %>
</section>
