<section class="form max-w-157">
  <%= render partial: 'partials/form_head', locals: { heading: "パスワードを変更する" } %>
  <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>
    <%= f.hidden_field :reset_password_token %>
    <div class="form-items">
      <div class="form-item">
        <%= f.label :password, "新しいパスワード" %>
        <% if @minimum_password_length %>
          <em>(<%= @minimum_password_length %> 文字以上必要)</em>
        <% end %>
        <%= f.password_field :password, autofocus: true, autocomplete: "new-password", class: "form-input" %>
      </div>
      <div class="form-item">
        <%= f.label :password_confirmation, "新しいパスワードの確認" %>
        <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-input" %>
      </div>
    </div>
    <div class="mt-14">
      <%= f.submit "パスワードを変更する", class: "form-btn" %>
    </div>
  <% end %>
  <%= render "devise/shared/links" %>
</section>
