<div class="card-head">
  <% if el.is_classic || el.is_favorite || el.book_tags.any? %>
    <ul class="card-tags">
      <% if el.is_classic %>
        <li class="card-tag is-classic">名作</li>
      <% end %>
      <% if el.is_favorite %>
        <li class="card-tag is-favorite">おすすめ</li>
      <% end %>
      <% el.book_tags.each do |tag| %>
        <li class="card-tag is-default"><%= tag.label %></li>
      <% end %>
    </ul>
  <% end %>
  <h3 class="card-title"><%= el.title %></h3>
</div>
<div class="card-info">
  <p class="card-star">
    <% 5.times do |i| %>
      <span class="<%= i < el.review_star.to_i && 'is-active' %>">★</span>
    <% end %>
  </p>
  <p class="card-when-where"><%= el.year %>/<%= el.country.label %></p>
</div>
<p class="card-body"><%= el.comment %></p>
<details class="card-details">
  <summary class="toggle-more"><span class="toggle-more-close">閉じる</span><span class="toggle-more-open">開く</span></summary>
  <dl class="card-info-dl">
    <% if el.author.present? %>
      <dt class="card-info-dt">著者</dt>
      <dd class="card-info-dd"><%= el.author %></dd>
    <% end %>

    <% if el.publisher.present? %>
      <dt class="card-info-dt">出版社</dt>
      <dd class="card-info-dd"><%= el.publisher.label %></dd>
    <% end %>

    <% if el.quote.present? %>
      <dt class="card-info-dt">引用</dt>
      <dd class="card-info-dd"><%= el.quote %></dd>
    <% end %>
  </dl>
</details>
