<%= form_with model: @book, html: { class: "form max-w-157" }  do |f| %>
  <%= render partial: 'partials/form_review_star', locals: { f: f, review_star: @book.review_star } %>
  <div class="form-items mt-14">
    <%= f.label :title, "タイトル", class: "form-required" do %>
      <%= f.text_field :title, class: "form-input", placeholder: "タイトルを入力してください", required: true %>
    <% end %>
    <%= f.label :title_en, "タイトル（英語）", class: "form-required form-item-en" do %>
      <%= f.text_field :title_en, class: "form-input", placeholder: "タイトル（英語）を入力してください", required: true %>
    <% end %>
    <div class="flex gap-3">
      <%= f.select :country_id, options_from_collection_for_select(Country.all, :id, :label), {}, class: "form-select" %>
      <%= f.number_field :year, class: "form-input", value: 2000 %>
      <%= f.select :publisher_id, options_from_collection_for_select(Publisher.all, :id, :label), {}, class: "form-select" %>
    </div>
    <%= f.label :comment, "コメント" do %>
      <%= f.text_field :comment, class: "form-textarea", maxlength: 100, placeholder: "コメントを入力してください" %>
    <% end %>
    <%= f.label :comment_en, "コメント（英語）", class: "form-item-en" do %>
      <%= f.text_field :comment_en, class: "form-textarea", maxlength: 100, placeholder: "コメント（英語）を入力してください" %>
    <% end %>
    <%= f.label :author, "著者名", class: "form-required" do %>
      <%= f.text_field :author, class: "form-input", placeholder: "著者名を入力してください", required: true %>
    <% end %>
    <%= f.label :author_en, "著者名（英語）", class: "form-required form-item-en" do %>
      <%= f.text_field :author_en, class: "form-input", placeholder: "著者名（英語）を入力してください", required: true %>
    <% end %>
    <%= f.label :translator, "翻訳者名" do %>
      <%= f.text_field :translator, class: "form-input", placeholder: "翻訳者名を入力してください" %>
    <% end %>
    <%= f.label :translator_en, "翻訳者名（英語）", class: "form-item-en" do %>
      <%= f.text_field :translator_en, class: "form-input", placeholder: "翻訳者名（英語）を入力してください" %>
    <% end %>
    <%= f.label :comment, "引用" do %>
      <%= f.text_field :quote, class: "form-textarea", maxlength: 100, placeholder: "引用を入力してください" %>
    <% end %>
    <%= f.label :quote_en, "引用（英語）", class: "form-item-en" do %>
      <%= f.text_field :quote_en, class: "form-textarea", maxlength: 100, placeholder: "引用（英語）を入力してください" %>
    <% end %>
  </div>
  <p class="form-memo">左上の●は入力必須です</p>

  <div class="mt-6">
    <div class="sort-chips">
      <label class="sort-chip-label">
        <%= f.check_box :is_classic %>
        <span class="sort-chip-txt">名作</span>
      </label>
      <label class="sort-chip-label">
        <%= f.check_box :is_favorite %>
        <span class="sort-chip-txt">おすすめ</span>
      </label>
      <% @all_tags.each do |tag| %>
        <label class="sort-chip-label">
          <input type="checkbox" name="book_tag_ids[]" value="<%= tag[2] %>" <%= @book_tags.include?(tag[2]) ? "checked" : "" %>>
          <span class="sort-chip-txt"><%= tag[0] %></span>
        </label>
      <% end %>
    </div>
  </div>

  <div class="flex gap-3 mt-10">
    <%= f.submit @book.new_record? ? "作成する" : "保存する", class: "form-btn" %>
    <%= link_to "キャンセル", :back, class: "form-btn is-cancel" %>
  </div>
<% end %>
