<div class="modal is-display <%= @is_anime ? "is-anime" : "" %>">
<div class="modal-wrapper">
  <%= link_to books_path, class: "modal-close" do %>
    <img src="<%= asset_path('icon-close.svg') %>" alt="Cosmic Library" width="24" height="24" alt="閉じる" />
  <% end %>
  <%= form_with model: book do |form| %>
    <div class="form">
      <ul class="form-items">
        <li class="form-item">
          <%= form.select :book_tag_ids, @tags, {}, { multiple: true, class: "form-select-multi" } %>
        </li>
        <li class="form-item">
          <%= form.text_field :title, class: "form-input" %>
        </li>
        <li class="form-item">
          <%= form.text_field :author, class: "form-input" %>
        </li>
        <li class="form-item">
          <%= form.select :review_star, options_for_select([
            ['★★★★★', 5],
            ['★★★★☆', 4],
            ['★★★☆☆', 3],
            ['★★☆☆☆', 2],
            ['★☆☆☆☆', 1]
          ]), {}, class: "form-select text-primary-100" %>
        </li>
        <li class="form-item">
          <%= form.text_area :comment, class: "form-textarea" %>
        </li>
      </ul>
      <% if book.errors.any? %>
        <ul class="modal-messages">
          <% book.errors.full_messages.each do |message| %>
            <li class="modal-message"><%= message %></li>
          <% end %>
        </ul>
      <% end %>
      <div class="form-actions">
        <span class="hover-circle">
          <%= link_to "キャンセル", books_path, class: "form-cancel" %>
        </span>
        <span class="hover-circle">
          <%= form.submit "保存", class: "form-submit" %>
        </span>
      </div>
    </div>
  <% end %>
</div>
</div>