<%= render 'layouts/flash_messages' %>
<main class="cards">
  <% @books.each_with_index do |book, index| %>
    <%= render partial: 'card', locals: { class_name: "card#{index + 1}", id: book.id, title: book.title, author: book.author, card_star: book.review_star, card_body: book.comment, tags: book.book_tags, is_public: book.is_public  } %>
  <% end %>
</main>
<%== pagy_nav(@pagy) %>
<div class="page-count">
  <div class="page-count-bar"><span class="page-count-bar-active" style="width: <%= @page_count_active_width %>%;"></span></div>
  <p class="page-count-text">全<%= @page_count_total %>件</p>
</div>