<%= render 'partials/flash_messages' %>
<main class="cards">
  <% @books.each_with_index do |el, i| %>
    <article class='card card#{i + 1}' data-controller="toggle-card" data-model-id="<%= el.id %>" data-model-type="book">
      <div class='card-wrap' data-toggle-card-target="content">
        <%= render partial: 'card_jp', locals: { el: el } %>
      </div>
      <% unless @is_signed %>
        <button data-action="click->toggle-card#toggleCardType" class="card-translate btn-translate">
          <%= image_tag("icon-translate.svg", alt: "翻訳する", width: 40, height: 40, class: "btn-translate-img") %>
        </button>
      <% end %>
    </article>
  <% end %>
</main>
<aside class="sort" data-controller="toggle-lang">
  <div class="sort-translate">
    <button data-action="click->toggle-lang#toggleLang" class="btn-translate">
      <%= image_tag("icon-translate.svg", alt: "翻訳する", width: 40, height: 40, class: "btn-translate-img") %>
    </button>
  </div>
  <div data-toggle-lang-target="contentJp">
    <%= render partial: 'partials/sort', locals: {
      url: books_path,
      classic_label: "名作",
      favorite_label: "おすすめ",
      tag_name: "book_tag_ids[]",
      tag_label_index: 0,
      submit_text: "並びかえ"
    } %>
    <%= render partial: 'partials/pagy_nav', locals: {
      count_text: "全 #{@page_total} 件",
    } %>
  </div>

  <div data-toggle-lang-target="contentEn" class="hidden">
    <%= render partial: 'partials/sort', locals: {
      url: books_path,
      classic_label: "Classic",
      favorite_label: "Recommend",
      tag_name: "book_tag_ids[]",
      tag_label_index: 1,
      submit_text: "Sort"
    } %>
    <%= render partial: 'partials/pagy_nav', locals: {
      count_text: "All #{@page_total} items",
    } %>
  </div>
</aside>
<% if @is_signed %>
  <%= link_to new_book_path, class: "create-btn" do %>
    <%= image_tag asset_path('icon-plus.svg'), alt: "作成する", width: 24, height: 24 %>
  <% end %>
<% end %>
