<div class="card-head">
  <% if el.is_classic || el.is_favorite || el.film_tags.any? %>
    <ul class="card-tags">
      <% if el.is_classic %>
        <li class="card-tag is-classic">Classic</li>
      <% end %>
      <% if el.is_favorite %>
        <li class="card-tag is-favorite">Recommend</li>
      <% end %>
      <% el.film_tags.each do |tag| %>
        <li class="card-tag is-default"><%= tag.label_en %></li>
      <% end %>
    </ul>
  <% end %>
  <h3 class="card-title"><%= el.title_en %></h3>
</div>
<div class="card-info">
  <p class="card-star">
    <% 5.times do |i| %>
      <span class="<%= i < el.review_star.to_i && 'is-active' %>">★</span>
    <% end %>
  </p>
  <p class="card-when-where"><%= el.year %>/<%= el.country.label_en %></p>
</div>
<p class="card-body"><%= el.comment_en %></p>
<dl class="card-info-dl">
  <% if el.director_en.present? %>
    <dt class="card-info-dt">Directer</dt>
    <dd class="card-info-dd"><%= el.director_en %></dd>
  <% end %>

  <% if el.cast_en.present? %>
    <dt class="card-info-dt">Cast</dt>
    <dd class="card-info-dd"><%= el.cast_en %></dd>
  <% end %>
</dl>
<p class="toggle-more">Close</p>
