<%= form_with model: @film, html: { class: "form max-w-157" }  do |f| %>
  <%= render partial: 'partials/form_review_star', locals: { f: f, review_star: @film.review_star } %>
  <div class="form-items mt-14">
    <%= f.label :title, "タイトル", class: "form-required" do %>
      <%= f.text_field :title, class: "form-input", placeholder: "タイトルを入力してください", required: true %>
    <% end %>
    <%= f.label :title_en, "タイトル（英語）", class: "form-required form-item-en" do %>
      <%= f.text_field :title_en, class: "form-input", placeholder: "タイトル（英語）を入力してください", required: true %>
    <% end %>
    <div class="flex gap-3 max-w-82">
      <%= f.select :country_id, options_from_collection_for_select(Country.all, :id, :label, @film.country_id), {}, class: "form-select" %>
      <%= f.number_field :year, class: "form-input" %>
    </div>
    <%= f.label :comment, "コメント" do %>
      <%= f.text_field :comment, class: "form-textarea", maxlength: 100, placeholder: "コメントを入力してください" %>
    <% end %>
    <%= f.label :comment_en, "コメント（英語）", class: "form-item-en" do %>
      <%= f.text_field :comment_en, class: "form-textarea", maxlength: 100, placeholder: "コメント（英語）を入力してください" %>
    <% end %>
    <%= f.label :director, "監督名", class: "form-required" do %>
      <%= f.text_field :director, class: "form-input", placeholder: "監督名を入力してください", required: true %>
    <% end %>
    <%= f.label :director_en, "監督名（英語）", class: "form-required form-item-en" do %>
      <%= f.text_field :director_en, class: "form-input", placeholder: "監督名（英語）を入力してください", required: true %>
    <% end %>
    <%= f.label :cast, "キャスト" do %>
      <%= f.text_field :cast, class: "form-input", placeholder: "キャストを入力してください" %>
    <% end %>
    <%= f.label :cast_en, "キャスト（英語）", class: "form-item-en" do %>
      <%= f.text_field :cast_en, class: "form-input", placeholder: "キャスト（英語）を入力してください" %>
    <% end %>
  </div>
  <p class="form-memo">左上の●は入力必須です</p>

  <div class="mt-6">
    <div class="sort-chips">
      <label class="sort-chip-label">
        <%= f.check_box :is_classic %>
        <span class="sort-chip-txt">名作</span>
      </label>
      <label class="sort-chip-label">
        <%= f.check_box :is_favorite %>
        <span class="sort-chip-txt">おすすめ</span>
      </label>
      <% @all_tags.each do |tag| %>
        <label class="sort-chip-label">
          <input type="checkbox" name="film_tag_ids[]" value="<%= tag[2] %>" <%= @film_tags.include?(tag[2]) ? "checked" : "" %>>
          <span class="sort-chip-txt"><%= tag[0] %></span>
        </label>
      <% end %>
    </div>
  </div>


  <div class="flex gap-3 mt-10">
    <%= f.submit @film.new_record? ? "作成する" : "保存する", class: "form-btn" %>
    <%= link_to "キャンセル", :back, class: "form-btn is-cancel" %>
  </div>
<% end %>
