<%= render 'layouts/flash_messages' %>
<main class="cards">
  <% @films.each_with_index do |el, i| %>
    <article class='card card#{i + 1}' data-controller="toggle-card" data-model-id="<%= el.id %>" data-model-type="film">
      <div class='card-wrap' data-toggle-card-target="content">
        <%= render partial: 'card_jp', locals: { el: el } %>
      </div>
      <button data-action="click->toggle-card#toggleCardType" class="card-translate btn-translate">
        <%= image_tag("icon-translate.svg", alt: "翻訳する", width: 40, height: 40, class: "btn-translate-img") %>
      </button>
    </article>
  <% end %>
</main>
<aside class="sort">
  <%= render_sort_form(
    url: films_path,
    sort_options: [
      { name: "is_classic", value: "true", checked: params[:is_classic] == "true", label: "名作" },
      { name: "is_favorite", value: "true", checked: params[:is_favorite] == "true", label: "おすすめ" },
      *@tags.map { |tag| { name: "film_tag_ids[]", value: tag[1], checked: @selected_tags.include?(tag[1].to_s), label: tag[0] } }
    ],
    sort_by_options: [
      ['作成日が新しい順に', 'created_at_desc'],
      ['作成日が古い順に', 'created_at_asc'],
      ['レビューが高い順に', 'review_star_desc'],
      ['レビューが低い順に', 'review_star_asc']
    ],
    selected_sort_by: params[:sort_by]
  ) %>
</aside>
<%== pagy_nav(@pagy) %>
<div class="page-count">
  <div class="page-count-bar"><span class="page-count-bar-active" style="width: <%= @page_active_width %>%;"></span></div>
  <p class="page-count-text">全<%= @page_total %>件</p>
</div>