<main class="cards">
  <% @films.each_with_index do |el, i| %>
    <article class='card card#{i + 1}' data-controller="card-film" data-id="<%= el.id %>" data-type="film">
      <div class='card-wrap' data-card-film-target="content">
      </div>
      <% unless @is_signed %>
        <button data-action="click->card-film#toggleCardType" class="card-translate btn-translate">
          <%= image_tag("icon-translate.svg", alt: "翻訳する", width: 40, height: 40, class: "btn-translate-img") %>
        </button>
      <% end %>
      <% if @is_signed %>
        <div class="card-controller">
          <%= button_to film_path(el.id), method: :delete, class: 'card-delete cursor-pointer hover:bg-circle', onclick: "return confirm('本当に削除しますか？');" do %>
            <%= image_tag("icon-trash.svg", alt: "Cosmic Library", width: 24, height: 24) %>
          <% end %>
          <%= link_to edit_film_path(el.id), class: 'card-edit cursor-pointer hover:bg-circle' do %>
            <%= image_tag("icon-edit.svg", alt: "Cosmic Library", width: 24, height: 24) %>
          <% end %>
          <label class="form-switch">
            <input type="checkbox" name="">
            <span class="form-switch-ball"></span>
          </label>
        </div>
      <% end %>
    </article>
  <% end %>
</main>
<aside class="sort" data-controller="toggle-lang">
  <div data-toggle-lang-target="contentJp">
    <%= render partial: 'partials/sort', locals: {
      url: films_path,
      classic_label: "名作",
      favorite_label: "おすすめ",
      tag_name: "film_tag_ids[]",
      tag_label_index: 0,
      sort_by_options: [
        ['作成日が新しい順に', 'created_at_desc'],
        ['作成日が古い順に', 'created_at_asc'],
        ['レビューが高い順に', 'review_star_desc'],
        ['レビューが低い順に', 'review_star_asc']
      ],
      submit_text: "並びかえ"
    } %>
    <%= render partial: 'partials/pagy_nav', locals: {
      count_text: "全 #{@page_total} 件",
    } %>
  </div>

  <div data-toggle-lang-target="contentEn" class="hidden">
    <%= render partial: 'partials/sort', locals: {
      url: films_path,
      classic_label: "Classic",
      favorite_label: "Recommend",
      tag_name: "film_tag_ids[]",
      tag_label_index: 1,
      sort_by_options: [
        ['By Newest Creation Date', 'created_at_desc'],
        ['By Oldest Creation Date', 'created_at_asc'],
        ['By Highest Reviews', 'review_star_desc'],
        ['By Lowest Reviews', 'review_star_asc']
      ],
      submit_text: "Sort"
    } %>
    <%= render partial: 'partials/pagy_nav', locals: {
      count_text: "All #{@page_total} items",
    } %>
  </div>
</aside>
<% if @is_signed %>
  <%= link_to new_film_path, class: "create-btn" do %>
    <%= image_tag asset_path('icon-plus.svg'), alt: "作成する", width: 24, height: 24 %>
  <% end %>
<% end %>
