<%= render 'partials/flash_messages' %>
<% if @films.present? %>
<main class="cards">
  <% @films.each_with_index do |el, i| %>
    <article class='card card#{i + 1}' data-controller="toggle-card" data-model-id="<%= el.id %>" data-model-type="film">
      <div class='card-wrap' data-toggle-card-target="content">
        <%= render partial: 'card_jp', locals: { el: el } %>
      </div>
      <% unless @is_signed %>
        <button data-action="click->toggle-card#toggleCardType" class="card-translate btn-translate">
          <%= image_tag("icon-translate.svg", alt: "翻訳する", width: 40, height: 40, class: "btn-translate-img") %>
        </button>
      <% end %>
    </article>
  <% end %>
</main>
<% else %>
<div class="no-article">
  <p class="no-article-text"><span>作</span><span>品</span><span>が</span><span>見</span><span>つ</span><span>か</span><span>り</span><span>ま</span><span>せ</span><span>ん</span><span>で</span><span>し</span><span>た</span></p>
</div>
<% end %>
<aside class="sort" data-controller="toggle-lang">
  <div class="sort-translate">
    <button data-action="click->toggle-lang#toggleLang" class="btn-translate">
      <%= image_tag("icon-translate.svg", alt: "翻訳する", width: 40, height: 40, class: "btn-translate-img") %>
    </button>
  </div>
  <div data-toggle-lang-target="contentJp">
    <%= render partial: 'partials/filter', locals: {
      url: films_path,
      classic_label: "名作",
      favorite_label: "おすすめ",
      tag_name: "film_tag_ids[]",
      tag_label_index: 0,
      submit_text: "絞り込み"
    } %>
    <%= render partial: 'partials/pagy_nav', locals: {
      count_text: "全 #{@page_total} 件",
    } %>
  </div>

  <div data-toggle-lang-target="contentEn" class="hidden">
    <%= render partial: 'partials/filter', locals: {
      url: films_path,
      classic_label: "Classic",
      favorite_label: "Recommend",
      tag_name: "film_tag_ids[]",
      tag_label_index: 1,
      submit_text: "Filter"
    } %>
    <%= render partial: 'partials/pagy_nav', locals: {
      count_text: "All #{@page_total} items",
    } %>
  </div>
</aside>
<% if @is_signed %>
  <%= link_to new_film_path, class: "create-btn" do %>
    <%= image_tag asset_path('icon-plus.svg'), alt: "作成する", width: 24, height: 24 %>
  <% end %>
<% end %>
