<%= render 'partials/flash_messages' %>
<main class="cards">
  <% @films.each_with_index do |el, i| %>
    <article class='card card#{i + 1}' data-controller="toggle-card" data-model-id="<%= el.id %>" data-model-type="film">
      <div class='card-wrap' data-toggle-card-target="content">
        <%= render partial: 'card_jp', locals: { el: el } %>
      </div>
      <button data-action="click->toggle-card#toggleCardType" class="card-translate btn-translate">
        <%= image_tag("icon-translate.svg", alt: "翻訳する", width: 40, height: 40, class: "btn-translate-img") %>
      </button>
    </article>
  <% end %>
</main>
<aside class="sort" data-controller="toggle-lang">
  <div class="sort-translate">
    <button data-action="click->toggle-lang#toggleLang" class="btn-translate">
      <%= image_tag("icon-translate.svg", alt: "翻訳する", width: 40, height: 40, class: "btn-translate-img") %>
    </button>
  </div>
  <div data-toggle-lang-target="contentJp">
    <%= render partial: 'partials/sort', locals: {
      url: films_path,
      classic_label: "名作",
      favorite_label: "おすすめ",
      tag_name: "film_tag_ids[]",
      tag_label_index: 0,
      sort_by_options: [
        ['作成日が新しい順に', 'created_at_desc'],
        ['作成日が古い順に', 'created_at_asc'],
        ['レビューが高い順に', 'review_star_desc'],
        ['レビューが低い順に', 'review_star_asc']
      ],
      submit_text: "並びかえ"
    } %>
    <%= render partial: 'partials/pagy_nav', locals: {
      count_text: "全 #{@page_total} 件",
    } %>
  </div>

  <div data-toggle-lang-target="contentEn" class="hidden">
    <%= render partial: 'partials/sort', locals: {
      url: films_path,
      classic_label: "Classic",
      favorite_label: "Recommend",
      tag_name: "film_tag_ids[]",
      tag_label_index: 1,
      sort_by_options: [
        ['By Newest Creation Date', 'created_at_desc'],
        ['By Oldest Creation Date', 'created_at_asc'],
        ['By Highest Reviews', 'review_star_desc'],
        ['By Lowest Reviews', 'review_star_asc']
      ],
      submit_text: "Sort"
    } %>
    <%= render partial: 'partials/pagy_nav', locals: {
      count_text: "All #{@page_total} items",
    } %>
  </div>
</aside>
<% if @is_signed %>
  <%= link_to new_film_path, class: "create-btn" do %>
    <%= image_tag asset_path('icon-plus.svg'), alt: "作成する", width: 24, height: 24 %>
  <% end %>
<% end %>
