<%= render 'layouts/flash_messages' %>
<main class="cards">
  <% @films.each_with_index do |film, index| %>
    <%= render partial: 'card', locals: { class_name: "card#{index + 1}", id: film.id, title: film.title, title_en: film.title_en, card_star: film.review_star, card_body: film.comment, tags: film.film_tags, is_public: film.is_public  } %>
  <% end %>
</main>
<aside class="sort">
  <%= form_with url: films_path, class:"sort-form", method: :get, local: true do %>
    <%= select_tag :sort_by, options_for_select([['作成日が新しい順に', 'created_at_desc'], ['作成日が古い順に', 'created_at_asc'], ['レビューが高い順に', 'review_star_desc'], ['レビューが低い順に', 'review_star_asc']], params[:sort_by]), class:"sort-form-select" %>
    <%= hidden_field_tag :commit, 'sort' %>
    <%= button_tag '並びかえ', class: 'sort-form-btn', type: 'submit' %>
  <% end %>
</aside>
<%== pagy_nav(@pagy) %>
<div class="page-count">
  <div class="page-count-bar"><span class="page-count-bar-active" style="width: <%= @page_count_active_width %>%;"></span></div>
  <p class="page-count-text">全<%= @page_count_total %>件</p>
</div>