<article class="card is-hidden">
  <div class="card-head">
    <ul class="card-tags">
      <li class="card-tag">コメディ</li>
      <li class="card-tag">ドラマ</li>
    </ul>
    <h3 class="card-title"><%= title %></h3>
    <p class="card-title-en"><%= title_en %></p>
  </div>
  <div class="card-content">
    <p class="card-star">
      <% card_star.to_i.times do |i| %>
        <span class="<%= i < card_star.to_i ? 'is-active' : '' %>">★</span>
      <% end %>
      <% (5 - card_star.to_i).times do %>
        <span>★</span>
      <% end %>
    </p>
    <p class="card-body"><%= card_body %></p>
    <div class="card-controller">
      <%= button_to post_path(id), method: :delete, class: 'card-delete cursor-pointer', form: { data: { turbo_confirm: "本当に削除しますか？" } } do %>
        <%= image_tag("icon-trash.svg", alt: "Cosmic Library", width: 24, height: 24) %>
      <% end %>
      <button class="card-edit" data-modal-target="#<%= class_name %>"><img src="<%= asset_path('icon-edit.svg') %>" alt="Cosmic Library" width="24" height="24" alt="編集" /></button>
      <label class="form-switch">
        <input type="checkbox" class="js-card-switch">
        <span class="form-switch-ball"></span>
      </label>
    </div>
  </div>
</article>
<div id="<%= class_name %>" class="modal">
  <div class="modal-wrapper">
    <span class="modal-close" data-modal-target="#<%= class_name %>"><img src="<%= asset_path('icon-close.svg') %>" alt="Cosmic Library" width="24" height="24" alt="閉じる" /></span>
    <div class="form">
      <ul class="form-items">
        <li class="form-item">
          <select class="form-select">
            <option value="option1">Option 1</option>
            <option value="option2">Option 2</option>
            <option value="option3">Option 3</option>
          </select>
        </li>
        <li class="form-item"><input type="text" class="form-input" /></li>
        <li class="form-item"><input type="text" class="form-input" /></li>
        <li class="form-item">
          <select class="form-select">
            <option value="option1">Option 1</option>
            <option value="option2">Option 2</option>
            <option value="option3">Option 3</option>
          </select>
        </li>
        <li class="form-item">
          <textarea class="form-textarea"></textarea>
        </li>
      </ul>
      <div class="form-actions">
        <button class="form-cancel">キャンセル</button>
        <button class="form-submit">保存</button>
      </div>
    </div>
  </div>
</div>