<!DOCTYPE html>
<html>
  <head>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-JYYHNP01YF"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-JYYHNP01YF');
    </script>
    <title>Cosmic Library</title>
    <meta name="description" content="「Cosmic Library」は、わたしがこれまでに読んだ本や観た映画を記録し、共有できるWEBアプリケーションです。これから出会う作品の無限の可能性と宇宙の無限の広がりが重なるようにデザインしました。">
    <link rel="canonical" href="https://cosmic-library.lolipop.io" />
    <%= favicon_link_tag 'favicon.ico' %>
    <meta name="theme-color" content="#0B0F2B">

    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta property="og:title" content="Cosmic Library">
    <meta property="og:description" content="「Cosmic Library」は、わたしがこれまでに読んだ本や観た映画を記録し、共有できるWEBアプリケーションです。これから出会う作品の無限の可能性と宇宙の無限の広がりが重なるようにデザインしました。">
    <meta property="og:image" content="<%= asset_path('ogp.jpg') %>">


    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>

  </head>

  <body class='<%= @is_modal_open ? "is-modal-open" : "" %>'>
    <div class="l-container l-inner-md">

      <header class="hd">
        <%=link_to root_path do %>
         <img src="<%= asset_path('logo.svg') %>" alt="Cosmic Library" width="177" height="106" />
        <% end %>
      </header>

      <nav class="pagenav">
        <ul class="pagenav-list">
          <li class="pagenav-item">
            <%= link_to "映画", root_path, class: "pagenav-anc #{'is-active' if request.path == '/'}" %>
          </li>
          <li class="pagenav-item">
            <%= link_to "本", books_path, class: "pagenav-anc #{'is-active' if request.path == '/books'}" %>
          </li>
        </ul>
      </nav>

      <% if @is_signed %>
        <% if request.path == '/' %>
          <div class="action">
            <span class="sp:hidden"><%= link_to "新規作成", new_film_path, class: "form-btn-add" %></span>
            <span class='<%= @is_modal_open ? "hidden" : "pc:hidden" %>'>
              <%= link_to new_film_path, class: "form-fixed-btn" do %>
                <%= image_tag asset_path('icon-plus.svg'), alt: "作成する", width: 24, height: 24 %>
              <% end %>
            </span>
          </div>
        <% elsif request.path == '/books' %>
          <div class="action">
            <span class="sp:hidden"><%= link_to "新規作成", new_book_path, class: "form-btn-add" %></span>
            <span class='<%= @is_modal_open ? "hidden" : "pc:hidden" %>'>
              <%= link_to new_book_path, class: "form-fixed-btn" do %>
                <%= image_tag asset_path('icon-plus.svg'), alt: "作成する", width: 24, height: 24 %>
              <% end %>
            </span>
          </div>
        <% end %>
      <% end %>

      <div class="l-main">
        <%= yield %>
      </div>

      <nav class="helpnav">
        <ul class="helpnav-list">
          <% if @is_signed %>
            <li class="helpnav-item"><%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "helpnav-anc" %></li>
          <% else %>
            <li class="helpnav-item"><%= link_to "ログイン", new_user_session_path, class: "helpnav-anc" %></li>
          <% end %>
        </ul>
      </nav>

      <footer class="ft">
        <p class="ft-copyright">&copy; 2024 Paglinawan</p>
      </footer>

    </div>
  
  </body>
</html>
